
<div class="container color-dark" >

  <div class="col">
    <p>add a bucket list item</p>
  </div>
  <div class="col">
      <p>Your list ({{itemCount}})</p>
    </div>
</div>


<div class="container color-light">


      <div class="col">
        <p>form</p>
        <form>
          <input type="text" name="item" placeholder="a life goal" [(ngModel)]="goalText"> 
          <input type="submit" class="btn" [value]="btnText" (click) = "addGoal()">
          <br>
          <span>{{goalText}}</span>

        </form>
      </div>
      <div class="col">
          <p *ngFor="let oneGoal of goalList; let i = index" (click) ="removeItem(i)">{{oneGoal}} {{i}}</p>
      </div>
</div>