
.container {
    display: grid;
    grid-template-columns:  50% auto;

}
.col{
    
    padding: .4em 1.3em;
  
   
}

.color-dark{
    background-color: #2885C4;

}

.color-light{

    background-color: slategrey;
}

.life-container{

   background: saddlebrown;
   padding: .5em;
   font-weight: bold;
   cursor: pointer;
}